*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}
body,html{
  width:100%;
  height:100%;

}
#main{
  height:100%;
  width:100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top:0.1px;
}
#nav{
  height:11vh;
  width:100%;
  /* background-color: red; */
  margin-top: 40px;
  border-top:2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav h1{
  height:100%;
  width:20%;
  display: flex;
  align-items: center;
  justify-content: center;
 font-family:Georgia, 'Times New Roman', Times, serif;
  /* background-color: aqua; */
  font-size:45px;
  letter-spacing: -3px;
  position: relative;
}
#nav h1::after{
  content:"©️";
  font-family: 'gilroy';
  font-weight: 400;
  font-size:16px;
  position: absolute;
  top:20%;
  right:16%;
}
#nav h1::before{
  content:"architecture";
  font-family: 'gilroy';
  font-weight: 400;
  font-size:18px;
  position: absolute;
  letter-spacing: 0.1vw;
  bottom:10%;
  color:#666;
  right:20%;
}

#nav h2{
  height:100%;
  width:20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right:2px solid #000;
  font-size:26px;
  font-weight:600;
}
#nav h2:nth-last-child(2)
{
  width:29%;
}
#nav h2:nth-last-child(1)
{
  width:10%;
  /* background-color: red; */
}

#center{
  width:100%;
  height:95%;
  /* background-color: red; */
  padding: 4vw;
  position: relative;
}
#content{
  width:100%;
  height:100%;
  /* background-color: blue; */
  position: relative;
}
#content video{
  height:100%;
  width:100%;
  object-fit: cover;
}
#overlay{
  height:52%;
  width: 100%;
  position: absolute;
  bottom:0;
  /* background-color: red; */
  padding: 3vw;
  color:#fff;
  
}
#over1{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#over1 h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size:3vw;
  /* font-weight: ; */
}
#over1 h2{
  font-size:1vw;
  padding: 2.0vw 2.4vw;
  /* background-color: blue; */
  border-radius: 50%;
  border:0.8px solid #fff;
  /* border-bottom:4px solid #fff; */

}
#over2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #fff;
  padding: 1.5vw 0;
}
#over2 img{
  height:5vw;
 
}
#scroll{
  height:40vh;
  width:100%;
  /* background-color: red; */
  white-space: nowrap;
  overflow-x:hidden;
  overflow-y: hidden;
}
#container{
  height:100%;
  width:110%;
  /* background-color: blue; */
  display: inline-block;
  padding: 0.8vw;
  animation-name:anime;
  animation-duration: 17s;
  animation-iteration-count:infinite;
  animation-timing-function: linear;

}
#scroll img{
  /* display: none; */
  height:81%;
  border-radius: 50%;
  width:15%;
  margin: 1.5vw;
  margin-left: 3.6vw;
  object-fit: cover;
  object-position: center;
}

@keyframes anime {
  from{
    transform:translate(0) ;
  }
  to{
    transform: translate(-100%);
  }
  
}

#alphabet{
  height:10vh;
  width:100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1.1vw;
  border-top:2px solid #000;
  border-bottom: 2px solid #000;
}
#alphabet h5{
  font-size:2vw;
  text-transform: uppercase;
  font-weight:400;
  font-style:italic;
  letter-spacing: 4px;
  border-bottom: 1px solid #000000;
  margin-right: 1.6vw;
}
#alphabet h6{
  font-size:1.2vw;
  text-transform: uppercase;
  font-weight:400;
  font-style:italic;
  letter-spacing: 4px;
  /* border-bottom: 2px solid #000; */
  /* background-color: yellow; */
  padding: 0.5vw 0.7vw;
  border-radius: 50%;
  cursor: pointer;
  border:2px solid #00000000;
  transition: all ease 0.2s;
}
#alphabet h6:hover{
  border:1px solid #000;
}
#page2{
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;
}
#page2-part1{
  height:100%;
  width:50%;
  background-image: url(https://images.unsplash.com/photo-1611892440504-42a792e24d32?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#page2-part2{
  height:100%;
  width:46%;
  /* background-color: red; */
 
}
#page2-part2 img{
  height:70%;
  width:100%;
  object-fit: cover;
}
#part2-part2{
  height:30%;
  width:100%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
#part2-left{
  height:100%;
  width:35%;
  /* background-color: red; */
  padding: 0.2vw;
}
#part2-right{
  height:100%;
  width:50%;
  /* background-color: orange; */
  padding: 0.7vw;
}
#page-2{
  height: 100%;
  width:100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#page-2-left{
  height:100%;
  width:43%;
  /* background-color: rgb(189, 125, 125); */
}
#page-2-right{
  height:100%;
  width:45%;
  background-color: rgb(245, 245, 244);

}
#page-2-right img{
  height:38vw;
  width:30vw;
  object-fit: cover;
  margin-top: 4.5vw;
  margin-left: 7.5vw;
}
#page-2-left img{
  width:15vw;
  height:15vw;
  margin: 10vw 10vw;
}
#page-2-left h1{
  margin-top: 2.5vw;
}
#page-2-left h2{
  margin-left: 3vw;
  font-weight: 200;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
#page-22{
  height:80%;
  width:100%;
  background-color: rgb(236, 230, 230);
  display: flex;
  align-items: center;
  justify-content: center;
}
#page-22-in{
  height:85%;
  width:86%;
  background-color: red;
  background-image: url(https://images.unsplash.com/photo-1523217582562-09d0def993a6?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#page3{
  height:100%;
  width:100%;
  /* background-color: red; */
  position: relative;
  padding: 5vw 4vw;
}
#page3>h1{
  text-align: center;
  font-family: monument;
  text-transform: uppercase;
  font-size: 3vw;
  /* font-weight: 800; */
  margin-bottom: 6vh;
}
.elem{
  height:17vh;
  width:100%;
  /* background-color: red; */
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
}
.elem img{
  height:100px;
  width:100px;
  position:absolute;
  border-radius: 50%;
  left:12%;
  opacity: 0;
  transition: all ease 1.1s;
  object-fit: cover;
  object-position: center;
}
.elem h4{
  font-size:1.1vw;
  text-transform: uppercase;
  font-weight: 500;
  width:6%;

}
.elem .elem-part2{
  width:45%;
  /* background-color: red; */
}
.elem-part2 h1{
  font-size:2.7vw;
  font-weight:500;
}
.elem-part2 h5{
  font-size:0.9vw;
  font-weight:600;
  text-transform: uppercase;
}
.elem:nth-last-child(1)
{
  border-bottom: 2px solid #000;
}
.elem:hover img{
  opacity:1;
  left:30%;
}
#page31{
  height:90%;
  width:100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;

}
#page31-left{
  width:45%;
  height:100%;
  background-color: rgb(219, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}
#page31-right{
  width:45%;
  height:100%;
  /* background-color: green; */
}
#page31-left-box{
  height:90%;
  width:80%;
  /* background-color: yellow; */
  background-image: url(https://images.unsplash.com/photo-1523568129082-a8d6c095638e?q=80&w=1894&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
#page31-right h1{
  font-family: monument;
  padding: 1vw;
}
#page31-right h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1vw;
  width:75%;
  font-weight:bolder;
}
#page31-right p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 1vw;
  font-size:0.9vw;
  font-weight: 100;
}
#page31-right-box{
    height:56%;
    width:100%;
    background-color: rgb(248, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#right31{
  height:80%;width:40%;
  /* background-color: aqua; */
  background-image: url(https://images.unsplash.com/photo-1536957604029-6779ab858551?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}
#left31{
  height:80%;
  width:40%;
  /* background-color: yellow; */
  background-image: url(https://images.unsplash.com/photo-1490806843957-31f4c9a91c65?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
}
#marque{
  /* height:15vh; */
  width:100%;
  /* background-color: red; */
  padding: 1vw;
  white-space: nowrap;
  overflow-x:hidden;
  overflow-y: hidden;
  margin-top: 3vw;
  border-top:2px solid #000;
  border-bottom:2px solid #000;
}
#marque h1{
  display: inline-block;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color:transparent;
  letter-spacing: 1vw;
  font-family: monument;
  margin-right: 16px;
  animation-name:move;
  animation-duration: 3s;
  animation-iteration-count:infinite ;
  animation-timing-function: linear;
}
@keyframes move {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(calc(-100% - 20px));
    }
}

#blog{
  width:100%;
  height:80%;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#blog-left{
height:100%;
width:25%;
/* background-color: yellow; */
}
#blog-left h1{
  padding: 4vw;
  font-size: 3vw;
  font-family: monument;
  font-weight: 600;
}
#blog-middle{
height:100%;
width:35%;
/* background-color: yellowgreen; */
}
#blog-middle h2{
  padding: 2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 1.2vw;
}
#blog-middle img{
  height:70%;
  width:95%;
  padding: 2vw;
  border-radius: 4%;
  object-fit: cover;
  object-position: center;
}
#blog-right{
height:100%;
width:35%;
/* background-color: rgb(189, 224, 225); */
}
#blog-right h2{
  padding: 2vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 1.2vw;
}
#blog-right img{
  height:70%;
  width:95%;
  padding: 2vw;
  border-radius: 5%;
  object-fit: cover;
  object-position: center;
}
#footer{
  height:30%;
  width:100%;
  /* background-color: red; */
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
}
#footer-left{
  height:100%;
  width:35%;
  /* background-color: rgb(38, 122, 38); */
  display: flex;
  justify-content: space-around;
  /* padding: 2vw; */
  
}
#footer-left h1{
    font-size: 2.5vw;
    font-family:monument;
    margin-top: 0.5vw;
    position: relative;
}
#footer-left h1::after{
  content: "©️";
  position: absolute;
  font-size: 1vw;
  font-weight: 100;
}

#footer-left h4{
  padding: 1vw;
  font-size:1.5vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
}
#footer-middle{
  height:100%;
  width:25%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  border-left: 2px solid #000;
  /* border-right: 2px solid #0000; */
}
#footer-middle h2{
  padding: 1vw;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}
#footer-right{
  height:100%;
  width:40%;
  /* background-color: rgb(216, 164, 145); */
  border-left: 2px solid #000;
  /* position: relative; */
  
}
#footer-right h2{
    /* position: absolute; */
    padding: 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:400;
    margin-left: 4vw;
  
}
#footer-right p{
  padding: 2vw;
  margin-left: 4vw;
  letter-spacing: 0.4vw;
}
#footer-right h4{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight:400;
  margin-left: 6vw;
}
#endspace{
  height:8%;
  width:100%;
  /* background-color: red; */
}
